*{
   margin:0;
   padding:0;
  box-sizing:border-box;
}
body{
    width:100%;
    height:100%;
    background-color:rgb(0,0,33);
    color:white;
}
#element{
    color:lavender;
}
.secondSection{
    max-width:80vw;
    margin:auto;
}
nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:80px;
    background-color:rgb(4,4,32);
}
nav ul{
    display:flex;
    justify-content:center;
    
}
.left{
    font-size:1.5rem;
}
nav ul li {
    list-style:none;
    margin:0 23px;
}
nav ul li a{
    text-decoration:none;
    color:white;
}
nav ul li a:hover{
    color:red;
    font-size:1.01rem;
}
.firstSection{
    display:flex;
    justify-content:space-around;
    margin:23px 0;
}
.leftSection{
    margin:30px;
    font-size:3rem
}
.firstSection > div{
    width:30%;
    
}

.rightSection img{
    height:500px;
    width:30%px;
}
.purple{
    color:blueviolet;
}
main hr{
    border:0;
    background:#9c97f1;
    height:1.2px;
    margin:40px 84px;
}
.secondSection h1{
    font-size:1.9rem;
    height:10vh;
}
.gray{
    color:gray;
}
.secondSection .box{
    background:white;
    width:80vw;
    height:2px;
    margin:56px 0;
    display:flex;
}

image-top{
    width:23px;
    object-fit: contain;
    position:relative;
    top:-32px;
    left:-9px;

}
